COV_IN_DEV_MODE=true
RAILS_ENV=development
RAILS_MASTER_KEY=some_key
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=task_manager_prod
ROLLBAR_ACCESS_TOKEN=some_token
NEW_RELIC_LICENSE_KEY=some_key
NEW_RELIC_USER_KEY=some_key
MAILER_USERNAME=some_username
MAILER_PASSWORD=some_password
MAILER_ADDRESS=some_address
MAILER_PORT=some_port
MAILER_DOMAIN=some_domain
MAILER_AUTHENTICATION=some_authentication